<footer>
    <div class="content">
        <span>&copy; Brains control center </span>
        <span class="backtotop">back to top</span>
    </div>
</footer>
<script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
<!-- analytics -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?00bf711faf23e1c302727de1da016431";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();



$(".post-content img").each(function(){

	var src = $(this).attr("src");
	
	var host = hostname(src);
	
	if(host != '{{ site.media_server }}'){
	
		$(this).attr('src','{{ site.media_folder }}'+src);
	}
	
});

function hostname(url) {
	var m = url.match(/^(http|https):\/\/[^/]+/);
	return m ? m[0] : null;
}

</script>

